.app-container{
  display: flex;
}
.content{
  width: 100%;
}
body{
  overflow-y:scroll;
}
.post-card{
  margin: 20px 50px;
}
.hashtag{
  padding: 0.9%;
  margin: 1%;
  text-align: center;
}
.createPost{
  width: 100%;
}
.footer{
  z-index: 1;
}
.sidebar{
  z-index: 10;
}